<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/common.css"> <!-- Include common styles -->
    <link rel="stylesheet" href="css/home.css"> <!-- Include specific styles -->
</head>
<body> 
    <%- include('nav')-%>
    <h2>Check Balance:</h2>
    <form action="balance" method="post">
        Account no <input name="accNo"> <br><br>
        <button type="submit">SUBMIT </button>
    </form>
</body>
</html>
