<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/common.css"> <!-- Include common styles -->
    <link rel="stylesheet" href="css/home.css"> <!-- Include specific styles -->
</head>
<body>
    <div class="nav">
        <div>
            <a href="/account"> Account </a>
        </div>
        <div>
            <a href="/balance"> Balance </a>
        </div>
        <div>
            <a href="/deposit"> Deposit </a>
        </div>
        <div>
            <a href="/withdraw"> Withdraw</a>
        </div>
    </div>
</body>
</html>
