<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/common.css"> <!-- Include common styles -->
    <link rel="stylesheet" href="css/home.css"> <!-- Include specific styles -->
</head>
<body>
    <h1>REGISTER</h1>
    <form action="/create" method="post">
        USER :  <input type="text" name="user" >
        PASS :  <input type="text" name="pass" >
        <button type="submit"> Submit</button>
    </form>
</body>
</html>
