<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/common.css"> <!-- Include common styles -->
    <link rel="stylesheet" href="css/home.css"> <!-- Include specific styles -->
</head>
<body>
    <table>
        <tr>
            <th>ACCOUNT NO.</th>
            <th>EMAIL</th>
            <th>BALANCE</th>
        </tr>

        <tr>
            <td><%=i.accNo%></td>
            <td><%=i.email%></td>
            <td><%=i.balance%></td>
        </tr>
    </table>
</body>
</html>
