html, body {
    height: 100%; /* Ensure the body takes full height */
    margin: 0; /* Remove default margin */
    border: 5px solid #003366; /* Dark Blue border for the complete page */
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #F5F5F5; /* Light Gray */
    color: #333333; /* Dark Gray */
    padding: 10px;
}

h1 {
    font-size: 50px;
    color: #003366; /* Dark Blue */
}

a {
    text-decoration: none;
    color: #66B2FF; /* Light Blue */
    background-color: #003366; /* Dark Blue for buttons */
    padding: 10px;
    border-radius: 10px 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;
    background-color: #003366; /* Dark Blue */
}

.nav a {
    background-color: #003366; /* Dark Blue */
    color: #FFFFFF; /* White text */
}
